@keyframes ownerspin {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}
@keyframes redload {
	from {
		left: 0%
	}
	to {
		left: 100%;
	}
}

#root {
	background-color: rgba(30,30,30,.3);
	font-size: 18px;
	padding: 1px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1;
}

#rotate {
	position: relative;
	width: 1350px;
	height: 1350px;
	margin: 80px auto auto -200px;
	border-radius : 50%;
	transform: perspective(600px) rotate3d(3,-43,-42,20deg);
	z-index: 2;
}

#root:before {
	content: "";
	position: fixed;
	height: 80px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(30,30,30,.3);
	z-index: 3;
	box-shadow: 0 -20px 20px rgba(30,30,30,.3);
}
#root:after {
	content: "";
	position: fixed;
	height: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(30,30,30,.5);
	box-shadow: 0 -20px 20px rgba(30,30,30,.5);
	z-index: 4;
}

#rotate .owner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius : 50%;

	animation: ownerspin 10s linear infinite;
	animation-delay: 2s;
}


#rotate a {
	display: block;
	box-shadow : -5px 0 20px #000, inset 0 0 10px #999;
}

#rotate img,
#rotate a {
	max-width : 100%;
	max-height: 100%;
	border-radius: 50%
}

#rotate .img {
	position: absolute;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	opacity: 0.7;
}

#rotate .img:hover {
	opacity: 1;
}

/* MY */
.img.my {
	top: 5px;
	left : 50%;
}

.img.my a {
	margin-left: -50%;
}

/* NODE */
.img.node {
	top: 50%;
	right: 5px;
}

.img.node a {
	margin-top: -50%;
	transform: rotate(90deg);
}

/* EXPRESS */
.img.express {
	bottom: 5px;
	left : 50%;
}

.img.express a {
	margin-left: -50%;
	transform: rotate(180deg);
}

/* MONGO */
.img.mongo {
	top: 50%;
	left : 5px;
}

.img.mongo a {
	margin-top: -50%;
	transform: rotate(-90deg);
}

/* REACT */
.img.react {
	top: 15%;
	right: 9%
}


/* REDUX */
.img.redux {
	bottom: 13%;
	right: 10%
}

.img.redux a {
	transform: rotate(130deg);
}

/* REACT NATIVE */
.img.rn {
	bottom: 14%;
	left: 10%
}

.img.rn a {
	transform: rotate(-130deg);
}

/* ELECTRON */
.img.electron {
	top: 14%;
	left: 10%
}

.img.electron a {
	transform: rotate(70deg);
}

#loader {
	position: absolute;
	top: 30px;
	right: 50px;
	width: 60%;
	z-index: 4;
	background-color: rgba(30,50,30,.4);
	font-size: 1.1em;
	text-shadow: 0 0 2px #fff;
	border-radius: 8px;
	outline: 1px solid orange;
	margin-bottom: 8px;
}
#loader h1 {
	font-size: 1.3em;
	font-weight: bold;
}
#loader .link {
	color: #bfbfe0;
	text-decoration: none;
	font-size: 0.9em;
	margin: 0 5px;
	padding: 1px 3px;
	border-radius: 2px;
	background-color: rgba(20,60,20,.7);
	text-shadow: 0 0 1px #000;
}
#loader .time {
	margin: 1px 8px;
	padding: 2px 5px;
	background-color: #fff;
	box-shadow: 0 0 4px #fff, inset 0 0 3px #000;
	border-radius: 6px;
}

#loader .load {
	position: relative;
	width: 80%;
	margin: 8px auto;
	padding: 5px;
	border: 1px solid #000;
	border-radius: 4px;
	background-color: rgba(100,30,30,.3);
	overflow: hidden;
}

#loader .load:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	background-color: rgba(20,150,60,.8);
	border-right: 2px solid #000;
	transition: right 11s linear;
}

#loader .load.progress:before {
	right: 0%;
}

#loader .load.redirect {
	background-color: rgba(50,80,150,.8);
}

#loader .load.redirect:before, 
#loader .load.redirect:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: auto;
	padding: 1px 2px;
	transition: none;
	background-color: #000;
}

#loader .load.redirect:before {
	animation: redload 0.9s ease-out infinite;
}
#loader .load.redirect:after {
	animation: redload 1.5s ease-out infinite;
}

@media screen and (max-width: 1200px) {
	#root {
		font-size: 16px;
	}

	#rotate {
		width: 1300px;
		height: 1300px;
		margin: 50px auto auto -200px;
	}

	#rotate .img {
		width: 200px;
		height: 200px;
	}

	#loader {
		right: 35px;
		width: 70%;
	}

	#loader .link {
		font-size: 1em;
	}
}
@media screen and (max-width: 992px) {	
	#rotate {
		width: 1100px;
		height: 1100px;
		margin: 50px auto auto -150px;
	}

	#rotate .img {
		width: 180px;
		height: 180px;
	}

	#loader {
		background-color: rgba(30,50,30,.5);
		width: 75%;
		right: 30px;
		top: 20px;
	}

	#loader .link {
		font-size: 1.05em;
	}
}
@media screen and (max-width: 768px) {
	#root {
		font-size: 14px;
	}
	
	#rotate {
		width: 950px;
		height: 950px;
		margin: 50px auto auto -120px;
	}

	#rotate .img {
		width: 160px;
		height: 160px;
	}

	#loader {
		right: 25px;
		width: 80%;
	}

	#loader .link {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 600px) {

	#rotate .img {
		width: 140px;
		height: 140px;
	}
}

@media screen and (max-width: 544px) {
	#root {
		/* font-size: 10px; */
	}
	
	#rotate {
		width: 800px;
		height: 800px;
		margin: 50px auto auto -100px;
	}

	#rotate .img {
		width: 120px;
		height: 120px;
	}

	#loader {
		top: 10px;
		right: 10px;
		left: 10px;
		width:auto;
		background-color: rgba(30,50,30,.6);

	}

	#loader .link {
		font-size: 1.15em;
	}
}