@keyframes menuulactive {
	0% {
		left: 0;
		opacity: 0.1;
	}

	45% {
		left: 100%;
		opacity: 1;
		z-index: 1;
	}

	50% {
		z-index: 3;
	}

	100% {
		left: 90%;
		z-index: 3;
		opacity: 1;
	}
}

#sidebar-container {
	outline: 1px solid orange;
	display: none;

	@media (--media-md) {
		display: block;
	}

	@media (--media-lg) {
		width: 25%;
	}

	@media (--media-xl) {
		width: 20%;
	}
}

#sidebar {
	width: 90%;
	margin: 2px auto;
	position: relative;
	font-size: 14px;


	& section {
		display: block;
		position: relative;
		width: 100%;
		margin: 4px 0;
		z-index: 1;


		& ul {
			outline: 1px solid orange;
			overflow-y: hidden;
			transition: 1s;
			display: flex;
			flex-direction: column;
		}

		&.active {
			z-index: 2;

			& .label-ctg {
				border: 1px solid #000;
				border-right: none;
				padding-left: 8px;
				box-shadow: 0 0 2px #000, inset -5px 0 10px #fff;
				font-weight: bold;
			}

			& .caret {
				top: 0px;
				right: 10px;
				background-color: rgba(255,255,255,.25);
				color: #000;
				fill: #000;
				width: 25px;
				height: 25px;
				box-shadow: -1px 0 4px #fff;
				transform: rotateY(-180deg);


			}

			& .menu-label {
				right: 15px;
				opacity: 1;

				&:hover .label-ctg {
					left: 0;
				}
			}

			& ul {
				height: 100%;
			}

		}


	}

	& .label-ctg {
		position: relative;
		color: rgba(255,255,255,.8);
		text-shadow: 0 0 3px #000;
		background: #364050 url("/img/styles/menu-bg.png");
		padding: 2px 3px;
		border-radius: 3px;
		cursor: pointer;
		transition: .3s;
		left: 0;
		perspective: 50px;
		box-shadow: 0 0 4px #000;
		z-index: 1;


		& .caret {
			color: #fff;
			fill: #fff;
			width: 15px;
			height: 15px;
			position: absolute;
			top: 5px;
			border-radius: 3px;
			box-shadow: -1px 0 2px #000;
			bottom: 0;
			right: 1px;
			background-color: rgba(255,255,255,.05);
			transform: rotateY(0deg);
			z-index: 3;
			transition: .5s;
		
		}

		&.with-ico .label-ctg-txt {
			margin-left: 22px;
		}
	}

	& .menu-label {
		position: relative;
		transition: .5s;
		right: 0px;
		opacity: 1;
		z-index: 2;
		
		&:hover .label-ctg {
			left: 5px;
			box-shadow: 0 0 2px #000;
		}
	}

	& .label-ctg-txt {
		margin: 1px 3px 1px 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		z-index: 2;
		white-space: nowrap;
	}

	& .label-ctg-ico {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 3px;
		z-index: 1;

		& svg {
			width: 20px;
			height: 20px;
		}
	}

	&.has-open {
		
		& .menu-label {
			right: 10px;
			opacity : .8;
		}

		& .label-ctg {
			padding-left: 5px;
		}
	}
}